html {
  background-color: #F1F1F1;
}

body {
  background-color: #FFF;
  font-family: Open Sans, sans-serif;
  margin: 15px auto;
  padding: 25px;
  width: 830px;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  height: 75px;
  width: 75px;
}

h1 {
  margin: 0;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 1.2em;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.caption {
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
}

.company {
  font-size: 20px;
  font-weight: bold;
}

.date {
  color: #333;
  font-size: 13px;
}

.description {
  font-size: 14px;
}

.description li {
  list-style: disc;
  font-size: 13px;
  margin-left: 25px;
  padding: 2px;
}

.details {
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.header {
  position: relative;
}

.icon {
  height: 24px;
  width: 24px;
}

.job {
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
  width: 700px;
}

.name {
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
}

.profile {
  border-radius: 100%;
}

.project {
  padding-bottom: 15px;
}

.project-title {
  font-weight: bold;
  font-size: 14px;
}

.project-description {
  font-size: 13px;
  padding: 5px 0;
}

.project-tech {
  font-size: 13px;
}

.role {
  display: inline-block;
  padding: 5px 0;
  width: 330px;
  vertical-align: top;
}

.section {
  font-size: 22px;
}

.skill {
  display: inline-block;
  font-size: 16px;
  width: 175px;
}

.title {
  font-size: 15px;
}
