body {
  background: url('fuji.jpg');
  color: #FFF;
  font-family: "Roboto",Arial,sans-serif;  
  margin: 20% 0 0 3%;
}

img {
  height: 48px;
  width: 48px;
}

li {
  display: inline-block;
  padding-top: 30px;
  vertical-align: top;
  width: 50px;
  *display: inline; zoom: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  white-space: nowrap;
  *display: inline; zoom: 1;
}

.hidden {
  display: none;
  height: 0;
}

.caption {
  font-style: italic;
  padding: 4px 2px;
}

.name {
  font-size: 3.5em;
  font-weight: bold;
}

.title {
  font-size: 1.5em;
}
